<div class="col-md-2" style="padding: 0; margin: 0">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="form-group" style="margin: 10% 10%">
                    <label class="control-label">用户名：</label>
                    <span><%= user.username %></span>
                    <br/>
                    <br/>
                    <label class="control-label">文章数：</label>
                    <span><%= articles %></span>
                    <br/>
                    <br/>
                    <label class="control-label">代表作品：</label>
                    <span>《<%= posts[0].title %>》</span>
                    <br/>
                    <br/>
                    <label class="control-label">联系方式：</label>
                    <span><%= user.email %></span>
                    <br/>
                    <br/>
                    
                </div>
            </li>
        <hr>
        </ul>
    </div>